<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Prueba{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/image/css/slim.min.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/image/js/slim.kickstart.min.js') }}" ></script>
    {% endblock %}
    </body>
</html>
